<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURRICULO ONLINE</title>
    <link rel="stylesheet" type="" href="">
    

</head>
<body>
    

    <h1>CURRÍCULO ONLINE</h1>
    <fieldset> 
    <legend><h2>KARLA KAROLINY SILVA SOUZA</h2></legend>
        
            <form></form> 
            <p>Endereço: Três Lagoas/MS - Telefone: (67)9299-9999 - E-mail: karla@gmail.com</p><br>
            
                
             
                <ol>OBJETIVO</ol>
                    <li>1 - programar em diferentes linguagens</li>
                    <li>2 - atuar no setor de analise de sistemas</li>
                    <li>3 - desenvolver projetos</li>
                <input type="text" name="nome" placeholder="Digite o novo objetivo">
                <input type="submit" name="enviar" value="Adicionar"> 
                
                <ol>ESPECIALIZAÇÕES</ol>
                    <li>1 - Tecnologo em Analise e Desenvolvimento de Sistemas</li>
                    <li>2 - Graduação Ciencia da Computação</li>
                    <li>3 - Técnico em Informatica</li>
                <input type="text" name="nome" placeholder="Digite a nova especialização">
                <input type="submit" name="enviar" value="Adicionar"> 

                <ol>EXPERIENCIA</ol>
                    <li> 1 - Backend</li>
                    <li> 2 - Frontend</li>
                    <li> 3 - Dev</li>
                <input type="text" name="nome" placeholder="Digite a nova experiencia">
                <input type="submit" name="enviar" value="Adicionar"> 
                <ol>TEMPO DE ATUAÇÂO</ol>
                <label>Data de inico</label> 
                <input type="date"> 
                <br>
                <label>Data de termino</label> 
                <input type="date"> 
                <button>Save</button> 
            
    </fieldset>

</body>
</html>